@model ICollection<JobOffersWebsite.Models.Category>
@{
    ViewBag.Title = "Home Page";
}
<div>
    <h3>Explore New Career Opportunities</h3>
</div>

<div>
    @foreach (var category in Model)
    {
        <div >
            @*<h2 class="panel panel-heading">@category.CategoryName</h2>*@
            @foreach (var job in category.Jobs)
            {
            <div class="col-md-12 thumbnail" style="padding:1px 15px">

                <img src="~/Images/@job.JobImage" style="float:right; width:90px;height:50px; padding-top:10px;" />
                
                <h3>@Html.ActionLink(@job.JobTitle, "Details", new { JobId = job.Id }, null)</h3>
                
                <p style="width:75%">@job.JobContent</p>
            </div>
            }
        </div>
    }
</div>