.navbar-default {
    background-color: #0c5c82;
    padding: 5px;
}

.navbar-default .navbar-nav > li > a {
    color: #e7e7e7;
    font-family: "Times New Roman", Times, serif;
}

.myfooter {
    margin-top:100px;
    background-color: cornflowerblue;
    display: block;
    text-align:justify;
}

.myfooter ul {
    list-style-type: none;
}
    
.myfooter a {
    color:azure;
}


.subfooter {
    background-color: #0c5c82;
    color: white;
    text-align: center;
    padding: 0.02px;
    padding-top: 5px;
}



body {
    padding-top: 100px;
}

  